In [1]:
import os,sys,inspect
current_dir = os.path.dirname(os.path.abspath(inspect.getfile(inspect.currentframe())))
parent_dir = os.path.dirname(current_dir)
sys.path.insert(0, parent_dir)

In [2]:
import datetime
import gc
import numpy as np, pandas as pd
import lightgbm as lgb
import os

In [3]:
from utils import *

In [7]:
dt = pd.read_feather(r'..\input_data\train.feather')
dtest = pd.read_feather(r'..\input_data\test.feather')

In [5]:
dt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24825039 entries, 0 to 24825038
Data columns (total 22 columns):
 #   Column        Dtype
---  ------        -----
 0   id            object
 1   item_id       int16
 2   dept_id       int16
 3   store_id      int16
 4   cat_id        int16
 5   state_id      int16
 6   d             int16
 7   sales         float64
 8   date          datetime64[ns]
 9   wm_yr_wk      int16
 10  weekday       int16
 11  wday          int16
 12  month         int16
 13  year          int16
 14  event_name_1  int16
 15  event_type_1  int16
 16  event_name_2  int16
 17  event_type_2  int16
 18  snap_CA       float32
 19  snap_TX       float32
 20  snap_WI       float32
 21  sell_price    float32
dtypes: datetime64[ns](1), float32(4), float64(1), int16(15), object(1)
memory usage: 1.6+ GB

In [8]:
len(dt) + len(dtest)

28727479

In [6]:
dt[dt['lag_7'] == np.nan]

Empty DataFrame
Columns: [id, item_id, dept_id, store_id, cat_id, state_id, d, sales, date, wm_yr_wk, weekday, wday, month, year, event_name_1, event_type_1, event_name_2, event_type_2, snap_CA, snap_TX, snap_WI, sell_price, lag_7, lag_28, rmean_7_7, rmean_28_7, rmean_7_28, rmean_28_28, week, quarter, mday]
Index: []

[0 rows x 31 columns]

In [7]:
dt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25678759 entries, 0 to 25678758
Data columns (total 31 columns):
 #   Column        Dtype
---  ------        -----
 0   id            object
 1   item_id       int16
 2   dept_id       int16
 3   store_id      int16
 4   cat_id        int16
 5   state_id      int16
 6   d             object
 7   sales         float64
 8   date          datetime64[ns]
 9   wm_yr_wk      int16
 10  weekday       int16
 11  wday          int16
 12  month         int16
 13  year          int16
 14  event_name_1  int16
 15  event_type_1  int16
 16  event_name_2  int16
 17  event_type_2  int16
 18  snap_CA       float32
 19  snap_TX       float32
 20  snap_WI       float32
 21  sell_price    float32
 22  lag_7         float64
 23  lag_28        float64
 24  rmean_7_7     float64
 25  rmean_28_7    float64
 26  rmean_7_28    float64
 27  rmean_28_28   float64
 28  week          int16
 29  quarter       int16
 30  mday          int16
dtypes: datetime64[ns](1), float32(4), float64(7), int16(17), object(2)
memory usage: 3.1+ GB

In [8]:
dt.head()

,id,item_id,dept_id,store_id,cat_id,state_id,d,sales,date,wm_yr_wk,...,sell_price,lag_7,lag_28,rmean_7_7,rmean_28_7,rmean_7_28,rmean_28_28,week,quarter,mday
0,HOBBIES_1_001_CA_1_validation,0,0,0,0,0,d_1069,1.0,2014-01-01,11349,...,8.26,NaN,NaN,NaN,NaN,NaN,NaN,1,1,1
1,HOBBIES_1_001_CA_1_validation,0,0,0,0,0,d_1070,1.0,2014-01-02,11349,...,8.26,NaN,NaN,NaN,NaN,NaN,NaN,1,1,2
2,HOBBIES_1_001_CA_1_validation,0,0,0,0,0,d_1071,0.0,2014-01-03,11349,...,8.26,NaN,NaN,NaN,NaN,NaN,NaN,1,1,3
3,HOBBIES_1_002_CA_1_validation,1,0,0,0,0,d_1069,0.0,2014-01-01,11349,...,3.97,NaN,NaN,NaN,NaN,NaN,NaN,1,1,1
4,HOBBIES_1_002_CA_1_validation,1,0,0,0,0,d_1070,0.0,2014-01-02,11349,...,3.97,NaN,NaN,NaN,NaN,NaN,NaN,1,1,2

In [9]:
test = pd.read_feather('..\output\data-Poe05-test.feather')

In [12]:
test.isna().sum()

id                   0
item_id              0
dept_id              0
store_id             0
cat_id               0
state_id             0
d                    0
sales           853720
date                 0
wm_yr_wk             0
weekday              0
wday                 0
month                0
year                 0
event_name_1         0
event_type_1         0
event_name_2         0
event_type_2         0
snap_CA              0
snap_TX              0
snap_WI              0
sell_price           0
lag_7           640290
lag_28               0
rmean_7_7       640290
rmean_28_7           0
rmean_7_28      640290
rmean_28_28          0
week                 0
quarter              0
mday                 0
dtype: int64