In [1]:
import os,sys,inspect
current_dir = os.path.dirname(os.path.abspath(inspect.getfile(inspect.currentframe())))
parent_dir = os.path.dirname(current_dir)
sys.path.insert(0, parent_dir)

In [2]:
import datetime
import gc
import numpy as np, pandas as pd
import lightgbm as lgb
import os

In [3]:
## Read train and test file
feature_name = 'simple'
trn = pd.read_feather(r"..\input_data\train.feather")
tst = pd.read_feather(r"..\input_data\test.feather")

In [7]:
## Read feature file
feature_name = 'best'
trn_f = pd.read_feather(r"..\output\feature\{0}.trn.feather".format(feature_name))
#tst_f = pd.read_feather(r"..\output\feature\{0}.tst.feather".format(feature_name))

In [8]:
trn_f['d'].head()

0    d_1105
1    d_1106
2    d_1105
3    d_1106
4    d_1105
Name: d, dtype: object

In [6]:
tst.isna().any()

id              False
item_id         False
dept_id         False
store_id        False
cat_id          False
state_id        False
d               False
sales            True
date            False
wm_yr_wk        False
weekday         False
wday            False
month           False
year            False
event_name_1    False
event_type_1    False
event_name_2    False
event_type_2    False
snap_CA         False
snap_TX         False
snap_WI         False
sell_price      False
dtype: bool

In [16]:
trn.columns

Index(['id', 'item_id', 'dept_id', 'store_id', 'cat_id', 'state_id', 'd',
       'sales', 'date', 'wm_yr_wk', 'weekday', 'wday', 'month', 'year',
       'event_name_1', 'event_type_1', 'event_name_2', 'event_type_2',
       'snap_CA', 'snap_TX', 'snap_WI', 'sell_price'],
      dtype='object')

In [17]:
trn.head()

,id,item_id,dept_id,store_id,cat_id,state_id,d,sales,date,wm_yr_wk,...,month,year,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI,sell_price
0,HOBBIES_1_001_CA_1_validation,0,0,0,0,0,d_1050,0.0,2013-12-13,11346,...,12,2013,0,0,0,0,0.0,1.0,0.0,8.26
1,HOBBIES_1_002_CA_1_validation,1,0,0,0,0,d_1050,0.0,2013-12-13,11346,...,12,2013,0,0,0,0,0.0,1.0,0.0,3.97
2,HOBBIES_1_004_CA_1_validation,3,0,0,0,0,d_1050,0.0,2013-12-13,11346,...,12,2013,0,0,0,0,0.0,1.0,0.0,4.64
3,HOBBIES_1_005_CA_1_validation,4,0,0,0,0,d_1050,0.0,2013-12-13,11346,...,12,2013,0,0,0,0,0.0,1.0,0.0,3.08
4,HOBBIES_1_006_CA_1_validation,5,0,0,0,0,d_1050,0.0,2013-12-13,11346,...,12,2013,0,0,0,0,0.0,1.0,0.0,1.00

In [10]:
tst.shape

(2622140, 22)

In [10]:
trn_f.columns

Index(['id', 'item_id', 'dept_id', 'store_id', 'cat_id', 'state_id', 'd',
       'sales', 'date', 'wm_yr_wk',
       ...
       'rolling_std_60_14', 'rolling_mean_60_28', 'rolling_std_60_28',
       'rolling_mean_60_30', 'rolling_std_60_30', 'rolling_mean_60_60',
       'rolling_std_60_60', 'week', 'quarter', 'mday'],
      dtype='object', length=102)

In [11]:
print(trn.shape, trn_f.shape)

(24825039, 36) (24825039, 102)

In [11]:
2622140/30490

86.0