In [1]:
import os,sys,inspect
current_dir = os.path.dirname(os.path.abspath(inspect.getfile(inspect.currentframe())))
parent_dir = os.path.dirname(current_dir)
sys.path.insert(0, parent_dir)

In [2]:
import datetime
import gc
import numpy as np, pandas as pd
import lightgbm as lgb
import os

In [3]:
## Read train and test file
trn = pd.read_feather(r"..\input_data\train.feather")
tst = pd.read_feather(r"..\input_data\test.feather")

In [18]:
## Read feature file
feature_name = 'best'
trn_f = pd.read_feather(r"..\output\feature\{0}.trn.feather".format(feature_name))
#tst_f = pd.read_feather(r"..\output\feature\{0}.tst.feather".format(feature_name))

In [8]:
trn[["id","sales"]].groupby(['id'])["sales"].transform(lambda x: x.shift(7).rolling(7).max()).astype(np.float16)

0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
           ...
40718214    4.0
40718215    3.0
40718216    3.0
40718217    0.0
40718218    0.0
Name: sales, Length: 40718219, dtype: float16

In [19]:
trn_f.shape

(12746688, 30)

In [16]:
trn.columns

Index(['id', 'item_id', 'dept_id', 'store_id', 'cat_id', 'state_id', 'd',
       'sales', 'date', 'wm_yr_wk', 'weekday', 'wday', 'month', 'year',
       'event_name_1', 'event_type_1', 'event_name_2', 'event_type_2',
       'snap_CA', 'snap_TX', 'snap_WI', 'sell_price'],
      dtype='object')

In [14]:
trn.head()

,id,item_id,dept_id,store_id,cat_id,state_id,d,sales,date,wm_yr_wk,...,month,year,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI,sell_price
0,HOBBIES_1_002_CA_1_validation,1,0,0,0,0,d_350,0.0,2012-01-13,11150,...,1,2012,0,0,0,0,0.0,1.0,0.0,3.97
1,HOBBIES_1_004_CA_1_validation,3,0,0,0,0,d_350,2.0,2012-01-13,11150,...,1,2012,0,0,0,0,0.0,1.0,0.0,4.34
2,HOBBIES_1_005_CA_1_validation,4,0,0,0,0,d_350,0.0,2012-01-13,11150,...,1,2012,0,0,0,0,0.0,1.0,0.0,2.48
3,HOBBIES_1_008_CA_1_validation,7,0,0,0,0,d_350,0.0,2012-01-13,11150,...,1,2012,0,0,0,0,0.0,1.0,0.0,0.50
4,HOBBIES_1_009_CA_1_validation,8,0,0,0,0,d_350,2.0,2012-01-13,11150,...,1,2012,0,0,0,0,0.0,1.0,0.0,1.77

In [10]:
tst.shape

(2622140, 22)

In [10]:
trn_f.columns

Index(['id', 'item_id', 'dept_id', 'store_id', 'cat_id', 'state_id', 'd',
       'sales', 'date', 'wm_yr_wk',
       ...
       'rolling_std_60_14', 'rolling_mean_60_28', 'rolling_std_60_28',
       'rolling_mean_60_30', 'rolling_std_60_30', 'rolling_mean_60_60',
       'rolling_std_60_60', 'week', 'quarter', 'mday'],
      dtype='object', length=102)

In [12]:
print(trn.shape)
print(tst.shape)

(25316381, 22)
(5760972, 22)

In [20]:
40718219/30490

1335.4614299770417