In [1]:
from  datetime import datetime, timedelta
import gc
import numpy as np, pandas as pd
import lightgbm as lgb
import os

In [3]:
df = pd.read_csv("..\output\data-Poe05-train.csv")
df.shape

(25678759, 32)

In [4]:
max(df.d)

'd_1941'

In [5]:
df.tail()

,Unnamed: 0,id,item_id,dept_id,store_id,cat_id,state_id,d,sales,date,...,sell_price,lag_7,lag_28,rmean_7_7,rmean_28_7,rmean_7_28,rmean_28_28,week,quarter,mday
25678754,25678754,FOODS_3_825_WI_3_validation,3046,6,9,2,2,d_1941,NaN,2016-05-22,...,3.98,NaN,0.0,NaN,0.571429,NaN,0.892857,20,2,22
25678755,25678755,FOODS_3_826_WI_3_validation,3047,6,9,2,2,d_1940,NaN,2016-05-21,...,1.28,NaN,1.0,NaN,0.857143,NaN,0.964286,20,2,21
25678756,25678756,FOODS_3_826_WI_3_validation,3047,6,9,2,2,d_1941,NaN,2016-05-22,...,1.28,NaN,3.0,NaN,1.142857,NaN,0.928571,20,2,22
25678757,25678757,FOODS_3_827_WI_3_validation,3048,6,9,2,2,d_1940,NaN,2016-05-21,...,1.00,NaN,0.0,NaN,0.000000,NaN,1.250000,20,2,21
25678758,25678758,FOODS_3_827_WI_3_validation,3048,6,9,2,2,d_1941,NaN,2016-05-22,...,1.00,NaN,0.0,NaN,0.000000,NaN,1.071429,20,2,22

In [8]:
df.isna().sum()

Unnamed: 0            0
id                    0
item_id               0
dept_id               0
store_id              0
cat_id                0
state_id              0
d                     0
sales            853720
date                  0
wm_yr_wk              0
weekday               0
wday                  0
month                 0
year                  0
event_name_1          0
event_type_1          0
event_name_2          0
event_type_2          0
snap_CA               0
snap_TX               0
snap_WI               0
sell_price            0
lag_7            853720
lag_28           853720
rmean_7_7       1036660
rmean_28_7      1036660
rmean_7_28      1676950
rmean_28_28     1676950
week                  0
quarter               0
mday                  0
dtype: int64

In [9]:
len(df.id.unique())

30490